.footer-container {
  background-color: #c9ccd0;
  color: rgb(19, 18, 18);
  padding: 25px 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin-bottom: 15px;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #9b59b6;
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 500px) {
  .social-icons {
    gap: 15px;
  }
  .social-icons a {
    font-size: 16px;
  }
  .footer-content p {
    font-size: 13px;
  }
}
